/* HEADER */
.header{
    height: var(--header-height);
    background-image: linear-gradient(0,#ff6333,#f6422d);

}
/* Navbar*/
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin:4px 0 0 0 ;
    margin-bottom: 0;
    display: flex;
    
   
}
.header__navbar-list-item{
    margin: 0 8px;
    position: relative;
}
.header__navbar-list-item--separate::after{
    content: "";
    display: block;

}
.header__navbar-user{
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: relative;
  
}

.header__navbar-user-img{
    width: 16px;
    border-radius: 50%;
   

}
.header__navbar-user-name{
    margin-left: 3px;
   
}
/*  */
.header__navbar-user-menu{
    position: absolute;
    padding: 0;
    margin: 0;
    list-style: none;
    right: 0;
    top: calc(100% + 9px);
    background-color: var(--white-color);
    color: var(--text-color);
    width: 160px;
    /* border-radius: 5px; */
    z-index: 1;
    box-shadow: 0 0 1px #ccc;
    /* overflow: hidden; */
    display: none;
 

}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-menu::before{
    content: "";
    display: block;
    position: absolute;
    border: 18px solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 50px;
    top:-30px;

}
.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 0;
    display: block;
    padding: 14px;
}
.header__navbar-user-item--separate{
    border-top: 1px solid rgba(0,0,0,0.2);
}

.header__navbar-user-item a:hover{
    background-color: #fafafa;
}
.header__navbar-list-item,.header__navbar-item-link{

    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 10;

}
.header__navbar-list-item--bold{
    font-weight: 600;
}
.header__navbar-list-item--separate::after{
    content: "";
    display: block;
    height: 11px;
    border-left: 1px solid beige;
    position: absolute;
    right: -9px;
    top: 25%;

}
.header__navbar-list-item--hasnotify:hover .header__notify{
    display: block;

}

.header__navbar-item-link:hover,
.header__navbar-icon-link:hover,
.header__navbar-tohover:hover{
    opacity: 0.6;
    cursor: pointer;
}
.header__navbar-icon-link{
    text-decoration: none;
    color: var(--white-color);
}
.header__navbar-icon{
    font-size: 1.6rem;
    margin: 0 2px;
}
.header__navbar-label:hover{
    cursor: text;
    color: var(--white-color);

}
/* Header Qr code */
.header__qr{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    top: 140%;
    left: 0;
    border-radius: 3px;
    display: none;
    z-index: 1;

}
.header__qr::before{
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    top: -8px;
   
    
}
.header__qr--img{
    width: 100%;

}
.header__qr-apps{
    display: flex;
  

}
.header__qr-link{
    flex: 1;
    
}
.header__qr-dowload{
    height: 18px;

}
.header__navbar-list-item--qa:hover .header__qr{
    display: block;
   
    
    
}
/* Header notify*/
.header__notify{
    width: 404px;
    background-color: var(--white-color);
    position: absolute;
    top: 180%;
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: default;
    animation: headerNotiGrow ease-in 0.2s;
    transform-origin: calc(100% - 32px) top ;
    display: none;
    will-change: opacity,transform;
    z-index: 1;
    border-radius: 3px;

}
.header__notify::before{
    content: "";
    display: block;
    position: absolute;
    border: 18px solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 0;
    top:-30px;

}
.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    height: 18px;
    width: 90px;
   
    background-color: transparent;
    right: 0;
    top:-19px;

}
@keyframes headerNotiGrow{
    from{
        opacity: 0;
        transform: scale(0);
       

    }
    to{
        opacity: 1;
        transform: scale(1);
       
    }
}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
   


}
.header__notify-header h3{
    margin: 0;
    color: black;
    line-height: 40px;
    font-weight: 300;
    margin-left: 12px;
    user-select: none;
    -webkit-user-select: none;

}
.header__notify-list{
    padding: 0;
    list-style: none;

}

.header__notify-item--read{
    background-color: rgb(255, 99, 51,0.2);
}
.header__notify-item:hover{
    background-color: #f1f1f1;

}

.header__notify-link{
    display: flex;
    text-decoration: none;
    padding: 12px;

}
.header__notify-img{
    width: 48px;

}
.header__notify-info{
    margin-left: 1.2rem;
    flex: 1;
    

}
.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.6rem;
    

}
.header__notify-description{
    display: block;
    color: #333;
    font-size: 1.2rem;
    margin-top: 5px;
   
  

}
.header__notify-footer{
    display: flex;
  
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    margin: auto;
    padding: 15px;
   
    
    
}
/* modal */
.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    
}
.auth-form__heading{
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 1.4rem;
    color: var(--primary--color);
    font-weight: 300;
    cursor: pointer;

}
.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding:  0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    outline: none;
    
}
.auth-form__input:focus{
    border-color: #777;
}
.auth-form__aside{
    margin-top: 18px;
    padding: 0 6px;
}
.auth-form__policy{
    font-size: 1.3rem;
    line-height: 1.5rem;
    text-align: center;
}
.auth-form__text-link{
    text-decoration: none;
    color: var(--primary--color);

}
.auth-form__control{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__control-back{
    margin-right: 8px;
}
.auth-form__social{
    display: flex;
    background-color: #f5f5f5;
    padding: 16px 32px;
    justify-content: space-between;
    margin-top: 10px;
}
.auth-form__social-google{
    background-color: var(--white-color);

}
.auth-form__help{
        display: flex;
        justify-content: flex-end;
    
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    padding: 0 10px;
    color: var(--primary--color);
}
/* header with search */
.header-with-search{
    height: var(--header-with-search);
    display: flex;
    align-items: center;
    padding: 0 8px;
}
.header__logo-link{
    color: transparent;
    text-decoration: none;
}
.header__logo{
    width: 200px;
    
}
.header__logo-img{
    width: 150px;
}
.header__search{
    height: 40px;
    flex: 1;
    background-color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input{
    /* flex: 1; */
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 8px;
   
}
.header__cart{
    width: 150px;
    text-align: center;
    position: relative;
    
    

}
.header__cart-wrap{
    display: inline-block;
    margin: auto;
    padding: 0 12px;
    cursor: pointer;
    

}
.header__cart-wrap:hover .header__cart-list{
    display: block;
    cursor: default;

}
.header__cart-list::before{
    content: "";
    display: block;
    border: solid;
    border-width: 18px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 5px;
    top: -35px;

}
.header__cart-icon{
    font-size: 2rem;
    color: var(--white-color);
    margin-top: 5px;
    cursor: pointer;
}
.header_cart-notice{
    background-color: var(--white-color);
    padding: 3px;
    font-size: 1.5rem;
    line-height: 1rem;
    border-radius: 50%;
    color: var(--primary--color);
    font-weight: 600;
    position: absolute;
    right: 55px;
    border: 1px solid #ccc;
  
}

/* hien thi gio hang trong */
.header__cart-list{
    top: 150%;
    position: absolute;
    background-color: white;
    width: 300px;
    right: 50px;
    border-radius: 2px;
    box-shadow: 0 0 3px black;
    display: none;
}
.header__cart-list--no-cart img{
    width: 50%;
    
}

.header__cart-list--no-cart{
    padding: 28px 0;
}
.header__cart-list--no-cart h3{
    color: var(--text-color);
}
.header__search-select{
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}
/* Co san pham */
.header__cart-heading{
    text-align: left;
    margin: 8px 8px;
    font-size: 1.4rem;
    font-weight: 300;

}
.header__cart-list-item{
    list-style: none;
    padding: 0;
    

}
.header__cart-item-info{
    flex: 1;
}
.header__cart-item{
    display: flex;
    
   

}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 12px;
    margin-right: 12px;
    
    
  
    


}
.header__cart-img{
width: 42px;
margin: 12px;
border: 1px solid #ccc;

}
.header__cart-item-name{
    font-size: 1.1rem;

}
.header__cart-item-price{
    color: var(--primary--color);
    font-size: 1.1rem;

}
.header__cart-item-multiply{

}
.header__cart-item-quantity{
    font-size: 1rem;

}
.header__cart-item-body{
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    margin: 0 12px;

}
.header__cart-item:hover{
    background-color: #ccc;
}
.btn-cart.btn--primary{
   float: right;
   margin: 8px 6px 6px 6px;
   
}
.header__cart-item-description{

}
.header__cart-item-remove{

}
/*  */
.header__search-select-label,
.header__search-select-icon{
    font-size: 1.4rem;
    color: var(--text-color);
    
}
.header__search-select-icon{
    margin: 0 8px;
}
.header__search-btn{
    background-color: var(--primary--color);
    border: none;
    outline: none;
    height: 36px;
    border-radius: 6px;
    padding: 0 5px;
    cursor: pointer;
    margin-right:5px ;
    width: 60px;
  
    
}
.header__search-btn-icon{
    font-size: 1.6rem;
   color: white;
}
.header__search-btn:hover{
    opacity: 0.8;
}
.header__search-option{
    padding: 0;
    position: absolute;
    list-style: none;
    margin: 0;
    background-color: var(--white-color);
    right: 0;
    top: 170%;
    width: 160px;
    padding: 8px;
    box-shadow: 0 0 2px #ccc;
    border-radius: 5px;
    /* overflow: hidden; */
    box-shadow: 0 1px 3px #ccc;
    display: none;
    animation: headerNotiGrow ease-in 0.2s;
}
.header__search-option-item{
    
    padding: 6px;

}
.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
    
}
.header__search-option-item span{
    font-size: 1.4rem;
    margin-left: 16px;
}
.header__search-option-item i{
    font-size: 1.2rem;
    margin: 0 12px 0 18px;
    color: var(--primary--color);
    display: none;
}
.header__search-option-item--active i
{
    display: inline-block;
}
.header__search-select:hover .header__search-option{
    display: block;

}
.header__search-option::before{
    content: "";
    display: block;
    background-color: transparent;
    width: 150px;
    height: 50px;
    position: absolute;
    right: 0px;
    top: -22px;
   

}
/* Wrap serach history */
.header__search-history{
   top: calc(100% + 4px);
   left: 0;
   width: calc(100% - 20px);
   background-color: var(--white-color);
   box-shadow: 0 0 6px #6d5656;
   margin-top: 3px;
   border-radius: 5px;
   display: none;
    
}
.header__search-history-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.header__search-history-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
}
.header__search-history h3 {
    padding: 6px 12px;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
    color: #999;

}
.header__search-history-item{
    padding: 8px 12px;

}
.header__search-history-item:hover{
    background-color: #9999;
    cursor: pointer;

}
.header__search-input:focus ~ .header__search-history{
    display: block;

}


/* CONTAINER DANH MUC */
.app__container{
    background-color: #f5f5f5;
}
.app__content{
    padding-top: 25px;
}
.category{
    background-color: var(--white-color);
    border-radius: 2px;
}
.category-list{
    padding: 0;
    margin: 0;
    list-style: none;
    padding: 0 0 8px 0;
    margin-left: 12px;
}
.category-list .category-item__link{
    text-decoration: none;
}
.category__heading{
    font-size: 1.6rem;
    padding: 12px 8px;
    margin-top: 0;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}
.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 5px;
    border-bottom: none;
    
}
.category-item--active a{
    color: var(--primary--color);
    
}
.category-item{
    font-size: 1.4rem;
    padding: 6px 16px;
}
.category-item a{
    position: relative;
    right: 0;
    color: var(--text-color);
    transition: right linear 0.1s;
}
.category-item a:hover{
    color: var(--primary--color);
    right: -3px;
}
.category-item--active a::before{
    content: "";
    display: block;
    border: solid;
    border-width: 7px;
    border-color: transparent transparent transparent red;
    position: absolute;
    left: -10px;
}
/* Home column 10 */
.home-filter{
    background-color: rgba(0,0,0,0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}
.home-filter__label{
    color: var(--text-color);
    font-size: 1.4rem;
    margin-right: 16px;
}
.home-filter-btn{
    margin-right: 12px;
    min-width: 90px !important ;
  
}
.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 1.4rem;
    color: var(--text-color);
}
.home-filter__page-num{
    margin-right: 8px;
}
.home-filter__page-current{
    color: var(--primary--color);
}
.home-filter__page-btn{
    display: inline-block;
    width: 28px;
    height: 20px;
   
    border-radius: 3px;
    background-color: var(--white-color);
}
.home-filter__page-btn--defaunt{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn--defaunt i{
color: #ccc;
}
/* Product item */
.home-product-item{
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
   box-shadow: 0 0 3px 2px #ccc;

   transition: transform linear 0.1s;
   display: block;
   text-decoration: none;
   cursor: pointer;

}
.home-products{
    margin-bottom: 10px;
}
.home-product-item:hover{
   transform: translateY(-3px);

}
.home-product-item__img img{
    width: 100%;

}
.home-product-item__name{
    font-size: 1.5rem;
    font-weight: 400;
    height: 3.4rem;
    margin: 6px;
    overflow: hidden;
    /* xu li dau 3 cháº¥m */
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
   

}
.home-product-item__price{
    display: flex;
    
    align-items: baseline;
    flex-wrap: wrap;

}
.home-product-item__price-old{
    font-size: 1.3rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 8px;

}
.home-product-item__price-current{
    font-size: 1.5rem;
    color: var(--primary--color);
    margin-left: 10px;
}
.home-product-item__action{
   
    display: flex;
    justify-content: space-between;
    margin: 8px 10px;
}
.home-product-item__rating{
    margin-left: auto;
}
.home-product-item__like{
    font-size: 1.4rem;
}
.home-product-item-sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}
.home-product-item__rating{
    font-size: 0.8rem;
}
.home-product-item__origin{
    display: flex;
    font-size: 1.2rem;
    color: var(--text-color);
    justify-content: space-between;
    margin: 8px 10px;
}
.home-product-item__brand{
}
.home-product-item__origin-name{
}
.home-product-item__favourite{
    position: absolute;
    color: var(--primary--color);
    background-color: currentColor;
    top: 10px;
    left: -4px;
    font-size: 1.2rem;
    font-weight: 500;
    padding-right: 6px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home-product-item__favourite::before{
    content: "";
    display: block;
    position: absolute;
    border-top: 10px solid currentColor;
    border-left: 5px solid transparent;
    left: 0;
    bottom: -10px;
    filter: brightness(60%);
}
.home-product-item__favourite span{
    color: var(--white-color);
}
.home-product-item__favourite i{
    font-size: 0.9rem;
    margin-left: 5px;
    color: var(--white-color);
}
.home-product-item__sale-off{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.94);
    color: var(--text-color);
    font-size: 1.3rem;
    text-align: center;
}
.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    display: block;
    border-width: 0 20px 8px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
}
.home-product-item__sale-off-percent{
    color: #ee4d2d;
    font-weight: 600;
    line-height: 1.3rem;
}
.home-product-item__sale-off-label{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white-color);
}